
/* aboput z-index  */

.body
{
    background: lightblue;
}
img{
    width: 200px;
    height: 300px;
    position: absolute;
}

.banner{
    border: solid blue 15px;
    width: 80vw;
    height: 80vh;
    padding: 15px;
    position: relative;
}
.one{
    top: 0;
    left: 0;
    z-index: 1;
    /* by default z-index is zero */


}
.two{
    top: 20px;
    left: 20px;
    z-index: 2;

}
.three{
   top: 40px;
   left: 40px;
   z-index: 3;
}
